.btn-next-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20.6771vw;
  height: 4.5313vw;
  color: #fff;
  text-decoration: none;
  z-index: 10;

  span {
    font-size: 1.2500vw;
    font-weight: 700;
  }
}

.btn-next-section__hero {
  position: absolute;
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 991px) {
  .btn-next-section__hero {
    width: 2.0656vw;
    height: 2.4218vw;
    right: 2.0484vw;
    left: auto;
    bottom: 1.5136vw;
    span {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .btn-next-section {
    margin: 4.3714vw 0 40.2857vw;
    width: 60.4286vw;
    height: auto;
    display: flex;
    flex-direction: column;

    span {
      font-size: 4.5714vw;
      line-height: 6.0000vw;
    }

    svg {
      margin-top: 1.4286vw;
      width: 4.8200vw;
      height: 5.6543vw;
    }
  }

  .btn-next-section__hero {
    width: 2.0656vw;
    right: 5.8000vw;
    bottom: -60vw;
  }
}