.btn-next-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20.6771vw;
  height: 4.5313vw;
  position: absolute;
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-decoration: none;
  z-index: 10;

  span {
    font-size: 1.2500vw;
    font-weight: 700;
  }
}
