.btn-next-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20.6771vw;
  height: 4.5313vw;
  color: #fff;
  text-decoration: none;
  z-index: 10;
  position: relative;

  span {
    font-size: 1.2500vw;
    font-weight: 700;
    position: absolute;
    top: 3px;
  }

  svg {
    position: absolute;
    bottom: 2px;
    animation: arrow-animate 1s infinite;
  }

  @keyframes arrow-animate {
    0% {
      bottom: 2px;
    }
    50% {
      bottom: -3px;
    }
    100% {
      bottom: 2px;
    }
  }
}

.btn-next-section__hero {
  position: absolute;
  bottom: 3.0208vw;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 991px) {
  .btn-next-section__hero {
    width: 2.0656vw;
    height: 2.4218vw;
    right: 2.0484vw;
    left: auto;
    bottom: 1.5136vw;

    span {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .btn-next-section {
    margin-top: 2.3714vw;
    width: 60.4286vw;
    height: 16.5714vw;
    display: flex;
    flex-direction: column;


    span {
      font-size: 4.5714vw;
      line-height: 6.0000vw;
      position: absolute;
      top: 3px;
    }

    svg {
      margin-top: 1.4286vw;
      width: 4.8200vw;
      height: 5.6543vw;
      position: absolute;
      bottom: 2px;
    }
  }

  .btn-next-section__hero {
    width: 2.0656vw;
    right: 5.8000vw;
    bottom: 4.2857vw;
  }

  .btn-next-section__def {
    margin-bottom: 23.5vw;
  }
}