.btn-to-form {
  position: fixed;
  bottom: 0;
  left: 1.3542vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.1667vw;
  height: 4.5833vw;
  mask-image: url("../img/form-to-btn-bg.png");
  mask-position: left bottom;
  mask-size: cover;
  background: #009845;
  z-index: 50;
  transition: all .4s ease;


  &:hover {
    cursor: pointer;
  }

  svg {
    margin-right: 1.3021vw;
  }

  span {
    font-size: 1.3021vw;
  }
}

.btn-to-form.hidden {
  transform: translateY(100%);
}