@import "../vars";

.services {
  .services-bg {
    width: 93.7500vw;
    height: 109.9385vw;
    position: absolute;
    left: 61.7708vw;
    bottom: 4.5417vw;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .services__wrapper {
    min-height: calc(100vh - 2.6042vw);
    display: flex;
    justify-content: center;
    align-items: center;


    .column {
      margin-left: 5.2604vw;
      min-height: 35.8974vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        mask-image: url("../img/mask-list.png");
        mask-size: cover;
        mask-position: left bottom;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20.7552vw;
        height: 2.0953vw;
        font-size: 1.0417vw;
        font-weight: 500;
        color: $secondary-purple;
        margin-bottom: 0.5521vw;
      }

      ul {
        list-style: none;
        margin-bottom: auto;

        li {
          display: flex;
          justify-content: space-between;

          &:not(:first-child) {
            border-bottom: 2px solid $orange;
            padding-bottom: 0.4427vw;
            margin-bottom: 0.3906vw;
          }

          .list__title {
            mask-image: url("../img/mask-list-title.png");
            mask-size: cover;
            mask-position: left bottom;
            background: $secondary-orange;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20.6255vw;
            height: 3.2099vw;
            font-size: 1.7188vw;
            line-height: 3.5417vw;
            font-weight: 500;
            color: $secondary-purple;
            margin-bottom: 1.0521vw;
          }


          span {
            font-size: 1.1458vw;
          }
        }
      }

      p {
        font-size: 1.4583vw;
        margin-bottom: 0.3958vw;
        font-weight: 700;
      }

      button {
        font-size: 1.4583vw;
        font-weight: 700;
        line-height: 1.0938vw;
        color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 20.7302vw;
        height: 3.2099vw;
        background: $green;
        mask-image: url("../img/form-btn-bg.png");
        mask-position: left bottom;
        mask-size: cover;
        border: none;
        margin: 0 auto;
        transition: all .4s ease;

        &:hover {
          background: $secondary-orange;
          cursor: pointer;

          span {
            background: $green;
            color: white;
          }
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 5.1083vw;
          height: 3.2099vw;
          font-size: 1.6667vw;
          line-height: 1.0938vw;
          font-weight: 900;
          color: $secondary-purple;
          background: $secondary-orange;
          mask-image: url("../img/form-btn-arrow-bg.png");
          mask-position: left bottom;
          mask-size: cover;
          margin-right: 3.6458vw;
          transition: all .4s ease;
        }

        svg {
          margin-left: 0.5208vw;
        }
      }
    }

    .services__text {
      width: 22.4375vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 8.3333vw;

      span {
        font-size: 3.2813vw;
        line-height: 3.2813vw;
        font-weight: 700;
        width: 100%;
        display: block;
        text-align: center;

        &:after {
          content: '';
          display: flex;
          width: 100%;
          margin: 0.6250vw 0;
          border-bottom: 2px solid #fff;
        }
      }

      p {
        font-size: 1.7188vw;
        line-height: 2.1354vw;
        text-align: center;
      }
    }
  }

  .services__bottom {
    height: 2.6042vw;
    background: $secondary-purple;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      display: flex;
      align-items: center;

      img {
        margin-left: 0.4010vw;
        width: 2.3042vw;
        height: 1.3146vw;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .services {
    .services-bg {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      img {
        transform: rotate(180deg);
      }
    }

    .services__wrapper {


      .column {

        div {
        }

        ul {

          li {

            &:not(:first-child) {
            }

            .list__title {
            }


            span {
            }
          }
        }

        p {
        }

        button {

          &:hover {

            span {
            }
          }

          span {
          }

          svg {
          }
        }
      }

      .services__text {

        span {

          &:after {
          }
        }

        p {
        }
      }
    }

    .services__bottom {

      p {

        img {
        }
      }
    }
  }
}