@import "../vars";

.services {
  .services-bg {
    width: 93.7500vw;
    height: 109.9385vw;
    position: absolute;
    left: 61.7708vw;
    bottom: 4.5417vw;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .services__wrapper {
    min-height: calc(100vh - 2.6042vw);
    display: flex;
    justify-content: center;
    align-items: center;


    .column {
      margin-left: 5.2604vw;
      min-height: 35.8974vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        mask-image: url("../img/mask-list.png");
        mask-size: cover;
        mask-position: left bottom;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1;
        width: 20.7552vw;
        height: 2.0953vw;
        font-size: 1.0417vw;
        font-weight: 500;
        color: $secondary-purple;
        margin-bottom: 0.5521vw;
      }

      ul {
        list-style: none;
        margin-bottom: auto;
        order: 2;

        li {
          display: flex;
          justify-content: space-between;

          &:not(:first-child) {
            border-bottom: 2px solid $orange;
            padding-bottom: 0.4427vw;
            margin-bottom: 0.3906vw;
          }

          .list__title {
            mask-image: url("../img/mask-list-title.png");
            mask-size: cover;
            mask-position: left bottom;
            background: $secondary-orange;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20.6255vw;
            height: 3.2099vw;
            font-size: 1.7188vw;
            line-height: 3.5417vw;
            font-weight: 500;
            color: $secondary-purple;
            margin-bottom: 1.0521vw;
          }


          span {
            font-size: 1.1458vw;
          }
        }
      }

      p {
        font-size: 1.4583vw;
        margin-bottom: 0.3958vw;
        font-weight: 700;
        order: 3;
      }

      button {
        font-size: 1.4583vw;
        font-weight: 700;
        line-height: 1.0938vw;
        order: 4;
        color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 20.7302vw;
        height: 3.2099vw;
        background: $green;
        mask-image: url("../img/form-btn-bg.png");
        mask-position: left bottom;
        mask-size: cover;
        border: none;
        margin: 0 auto;
        transition: all .4s ease;

        &:hover {
          background: $secondary-orange;
          cursor: pointer;

          span {
            background: $green;
            color: white;
          }
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 5.1083vw;
          height: 3.2099vw;
          font-size: 1.6667vw;
          line-height: 1.0938vw;
          font-weight: 900;
          color: $secondary-purple;
          background: $secondary-orange;
          mask-image: url("../img/form-btn-arrow-bg.png");
          mask-position: left bottom;
          mask-size: cover;
          margin-right: 3.6458vw;
          transition: all .4s ease;
        }

        svg {
          margin-left: 0.5208vw;
        }
      }
    }

    .services__text {
      width: 22.4375vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 8.3333vw;

      span {
        font-size: 3.2813vw;
        line-height: 3.2813vw;
        font-weight: 700;
        width: 100%;
        display: block;
        text-align: center;

        &:after {
          content: '';
          display: flex;
          width: 100%;
          margin: 0.6250vw 0;
          border-bottom: 2px solid #fff;
        }
      }

      p {
        font-size: 1.7188vw;
        line-height: 2.1354vw;
        text-align: center;
      }

      svg {
        display: none;
      }
    }
  }

  .services__bottom {
    height: 2.6042vw;
    background: $secondary-purple;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 50px 5px #372D2A;

    p {
      display: flex;
      align-items: center;

      img {
        margin-left: 0.4010vw;
        width: 2.3042vw;
        height: 1.3146vw;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .services {
    .services-bg {
      width: 100%;
      height: 144.1998vw;
      position: absolute;
      left: 50%;
      top: -106.7669vw;
      transform: translateX(-50%);

      img {
        transform: rotate(180deg);
      }
    }

    .services__wrapper {
      flex-direction: column;

      .column {
        margin-left: 0;

        div {
          margin: 3.1887vw 0 2.7245vw;
          mask-image: url("../img/mask-services.png");
          font-size: 2.4218vw;
          width: 32.2906vw;
          height: 4.9970vw;
        }

        ul {
          margin-left: 0;

          &:first-child {
            margin-bottom: 5.0454vw;
          }

          li {
            .list__title {
              mask-image: url("../img/mask-services.png");
              font-size: 2.4218vw;
              width: 32.2906vw;
              height: 4.9970vw;
              margin-left: 0;
            }

            span {
              font-size: 1.8163vw;
            }
          }
        }

        p {
          mask-image: url("../img/mask-services.png");
          mask-size: cover;
          mask-position: top left;
          background: $green;
          font-size: 2.0182vw;
          width: 32.2906vw;
          height: 4.9970vw;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 5.0454vw 0 3.4914vw;
        }

        button {
          display: none;
        }
      }

      .services__text {
        margin: 8.4763vw 0 3.9051vw;

        span {
          font-size: 3.8345vw;

          &:after {
            margin: 1.6145vw 0;
          }
        }

        p {
          font-size: 1.8163vw;
        }

        svg {
          display: block;
          width: 3.5156vw;
          height: 4.1231vw;
          margin-top: 2.0182vw;
        }
      }
    }

    .services__bottom {
      height: 3.8345vw;

      p {
        font-size: 1.2109vw;

        img {
          width: 4.4642vw;
          height: 2.5469vw;
        }
      }
    }
  }
}