@import "../vars";

.video {
  position: relative;

  .video__wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    h1 {
      font-size: 2.6042vw;
      line-height: 3.1250vw;
      text-align: center;
      margin: 0 0 1.0417vw;
    }

    p {
      font-size: 1.4063vw;
      line-height: 1.7708vw;
      margin-bottom: 1.6927vw;
      text-align: center;
    }

    .video__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .video-block {
        width: 44.3750vw;
        height: 24.8958vw;
        position: relative;
        display: none;

        &:hover {
          cursor: pointer;
        }

        .block-overlay {
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 5.1563vw;
            height: 5.1563vw;
            border: 1px solid $green;
            border-radius: 50%;
            text-decoration: none;
            background: white;
            z-index: 15;
            transition: all .3s ease;

            &:hover {
              width: 4.5833vw;
              height: 4.5833vw;
              cursor: pointer;

              svg {
                width: 1.9985vw;
                height: 1.7129vw;
              }
            }
          }

          svg {
            width: 2.2484vw;
            height: 1.9271vw;
            transition: all .3s ease;
          }
        }

        img {
          width: 100%;
          height: 100%;
        }

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
        }

        iframe[src=''] {
          z-index: 0;
        }
      }

      .video-block.active {
        display: block;
      }

      .video__btn {
        margin: 1.7448vw 0;
        display: flex;
        justify-content: center;

        a {
          text-decoration: none;
          color: white;
          background: $purple;
          font-size: 1.4583vw;
          line-height: 1.7708vw;
          width: 17.7083vw;
          height: 2.6042vw;
          display: flex;
          justify-content: center;
          align-items: center;
          mask-image: url("../img/video-btn-bg.png");
          mask-size: 100%;
          mask-position: center center;
          mask-repeat: no-repeat;
          transition: all .4s ease;
          margin-right: 0.9375vw;

          &:hover {
            background: $green;
          }

          span {
            display: inline-block;
            font-weight: 700;

            &:after {
              content: '';
              display: inline-block;
              margin: 0 0.5208vw;
              background: white;
              width: 0.1563vw;
              height: 1.1458vw;
            }
          }
        }

        a.active {
          background: $secondary-orange;
        }
      }
    }
  }

  .video__wrapper-mobile {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .video {
    .video__wrapper {
      display: none;
    }

    .video__wrapper-mobile {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;


      h1 {
        font-size: 3.8345vw;
        line-height: 3.9354vw;
        font-weight: 500;
        text-align: center;
      }

      p {
        margin-bottom: 1.3421vw;
      }

      .video__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div {
          a {
            font-size: 1.8163vw;
            line-height: 2.3209vw;
            color: #fff;
            text-decoration: none;
            width: 30.4319vw;
            height: 4.5701vw;
            display: flex;
            justify-content: start;
            align-items: center;
            mask-image: url("../img/video-btn-bg.png");
            mask-position: center center;
            mask-size: 100%;
            mask-repeat: no-repeat;
            transition: all .4s ease;
            margin-bottom: 1.3824vw;

            .icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 6.9849vw;
              height: 100%;
              mask-image: url("../img/mask-list.png");
              mask-size: cover;
              mask-repeat: no-repeat;
              mask-position: left bottom;
              background: $orange;
              transition: all .3s ease;
              margin-left: 6.3976vw;

              svg {
                width: 1.5792vw;
                height: 1.8517vw;

                path {
                  fill: #fff;
                }
              }
            }
          }

          a.active {
            background: $green;

            .icon {
              svg {
                transform: rotate(-90deg);
              }
            }
          }
        }

        .video-block {
          width: 30.4813vw;
          height: 16.2562vw;
          margin-bottom: 1.0394vw;
          position: relative;
          display: none;

          &:hover {
            cursor: pointer;
          }

          .block-overlay {
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 6.8618vw;
              height: 6.8618vw;
              border: 1px solid $green;
              border-radius: 50%;
              background: white;
              z-index: 5;
              transition: all .3s ease;

              &:hover {
                width: 4.5833vw;
                height: 4.5833vw;
                cursor: pointer;

                svg {
                  width: 1.8737vw;
                  height: 1.9984vw;
                }
              }

              svg {
                width: 2.8052vw;
                height: 2.9919vw;
                transition: all .3s ease;
              }
            }
          }

          img {
            width: 100%;
            height: 100%;
          }

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
          }

          iframe[src=''] {
            z-index: 0;
          }

        }

        .video-block.active {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .video {
    min-height: 100vh;

    .video__wrapper-mobile {
      justify-content: flex-start;

      h1 {
        font-size: 10.8571vw;
        line-height: 11.1429vw;
        margin: 11.7143vw 0 4.0000vw;
      }

      p {
        text-align: center;
        font-size: 4.5714vw;
        line-height: 5.1429vw;
        max-width: 64.2857vw;
        margin: 0 auto 5.6857vw;
      }

      .video__body {
        div {
          a {
            font-size: 5.1429vw;
            line-height: 6.5714vw;
            width: 86.3057vw;
            height: 12.9400vw;
            margin-bottom: 2.0000vw;

            span:not(.icon) {
              font-weight: 700;

              &:after {
                content: '';
                display: inline-block;
                margin: 0 2.2857vw;
                background: white;
                width: 0.5714vw;
                height: 4.5714vw;
                vertical-align: center;

              }
            }

            .icon {
              width: 20.1400vw;
              height: 100%;
              margin-left: 7.8286vw;

              svg {
                width: 4.4714vw;
                height: 5.2429vw;
              }
            }
          }
        }

        .video-block {
          width: 86.3057vw;
          height: 48.1429vw;
          margin-bottom: 3.0286vw;
          position: relative;
          display: none;

          &:hover {
            cursor: pointer;
          }

          .block-overlay {
            button {
              width: 19.4286vw;
              height: 19.4286vw;;

              &:hover {
                width: 12.9772vw;
                height: 12.9772vw;
                cursor: pointer;

                svg {
                  width: 5.3054vw;
                  height: 5.6584vw;
                }
              }

              svg {
                width: 7.9429vw;
                height: 8.4714vw;
                transition: all .3s ease;
              }
            }
          }

          img {
            border-radius: 10.8571vw 2.8571vw;
            width: 100%;
            height: 100%;
            border: 1px solid white;
          }


          iframe {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
          }

          iframe[src=''] {
            z-index: 0;
          }
        }

        .video-block.active {
          display: block;
        }
      }
    }

    &#section-2 {
      a {
        .icon {
          margin-left: 17.7286vw;
        }
      }

      a.active {
        .icon {
          margin-left: 12.8286vw;
        }
      }
    }
  }
}