@import "../vars";

.logo {
  position: fixed;
  top: 2.1354vw;
  left: 2.1354vw;
  width: 10.4167vw;
  height: 3.9063vw;
  z-index: 50;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 991px) {
  .logo {
    mask-image: url("../img/mask-logo.png");
    mask-size: cover;
    mask-position: left top;
    width: 262.6px;
    height: 58.36px;
    top: 0;
    left: calc(-262.6px / 2);
    background: $purple;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
    }

    img {
      width: 89.41px;
      height: 33.59px;
      margin-right: 28.3px;
    }
  }
}