@import "../vars";

.logo {
  position: fixed;
  top: 2.1354vw;
  left: 2.1354vw;
  width: 10.4167vw;
  height: 3.9063vw;
  z-index: 50;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 991px) {
  .logo {
    mask-image: url("../img/svg/logo-mask.svg");
    mask-size: cover;
    mask-position: center center;
    width: 26.4985vw;
    height: 5.8890vw;
    top: 0;
    left: calc(-26.4985vw / 2);
    background: $secondary-purple;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 9.0222vw;
      height: 3.3895vw;
      margin-right: 2.8557vw;
    }
  }
}


@media screen and (max-width: 767px) {
  .logo {
    width: 73.0286vw;
    height: 14.6743vw;
    left: calc(-73.0286vw / 2);

    img {
      width: 25.5457vw;
      height: 9.5971vw;
      margin-right: 8.0857vw;
    }
  }
}