@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  direction: rtl;
}

body {
  font-family: 'Heebo', sans-serif;
  color: white;
  background: url("../img/texture.png") $secondary-purple;
  position: relative;
}

.container {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}