@import 'layout';

// Logo
@import "logo/logo";

// Btn
@import "btn-to-form/btn-to-form";

// Btn next section
@import "btn-next-section/btn-next-section";

// Section
@import "section/hero";
@import "section/video";
@import "section/form";
@import "section/services";

.test {
  width: 600px;
  height: 600px;
  mask-image: url("../img/mask-slider.svg");
  mask-size: 100%;
  mask-position: left top;
  mask-repeat: no-repeat;
  background: red;
}